:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  --primary: rgba(22, 27, 32, 1);
  --secondary: rgba(34, 37, 41, 1);
  --main: rgba(42, 67, 248, 1);
  --text-color: rgb(255,255,255,.8);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  background: var(--primary);
}