@mixin icon-button{
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  border: none;
  border-radius: 12px;
  background: var(--main);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  .button-icon {
    margin-top: .2rem;
    color: var(--text-color);
  }
  &:hover {
    color: var(--main);
    background: var(--text-color);
    .button-icon {
      transition: transform 0.3s ease-in-out;
      transform: translateX(8px);
      color: var(--main);
    }
    .button-text{
      transition: transform 0.3s ease-in-out;
      transform: translateX(-8px);
    }
  }
  &:disabled{
    background: darkgrey;
    cursor: not-allowed;
  }
}