.navbar-wrapper {
  background: var(--primary);
  color: var(--text-color);
  border-bottom: 3px solid #222529;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}
.navbar-menu-middle {
  gap: 2rem;
  &:hover {
    cursor: pointer;
  }
}
.navbar-menu-end{
  display: flex;
  gap: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}
.logo-container{
  .image-logo{
    width: 64px;
    height: 64px;
    cursor: pointer;
    &:hover{
      transform: scale(1.02);
    }
  }
}
.button-link{
  text-decoration: none;
  color: var(--text-color);
}